#header{
    background-color: rgb(147, 192, 231);
}

h1{
    color: #5df1ce
    font-family: Arial, Georgia, Verdana;
    text-align: center;
}

p{
    color: #f7f5f2
    font-family: Georgia, Verdana;
}